
html, body{
    overflow-x: hidden;
}

html{
    margin:0;
    padding:0;
    height: 100%;
    width:100%;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x:hidden;
    width: 100vw;
    margin:0;
    padding: 0;
    position: absolute;
}


/* body *{outline-style: solid; outline-color: red;} */

.header-hero{
    background-color: hsl(215, 28%, 17%);
    padding: 2em 12% 2em 12%;
    max-width: 100%;
     
}
.header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
}


.header-right-links .links{
    display: flex;
    justify-content: flex-end;
    width:fit-content;
}

.header-left-side{
    padding-right: 1em;
}


.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 800;
    
}
a{
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 .75em 0 .75em;

}
a:link{ text-decoration: none;}
a:visited{ text-decoration: none;}
a:hover{ text-decoration: none;}
a:active{ text-decoration: none;}



.hero{
    /* max-width:100vw; */
    display:flex;
    margin-top:5em;
    justify-content: space-between;
    /* align-items: stretch; */
    padding-bottom: 5em;
}

.hero-content{
    /* width:100vw; */
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    
}

.about{
    max-width:30em;
    word-wrap: normal;
}

.hero h1{
    font-size: 48px;
    font-weight: 1000;
    max-width: 50vw;
    color:#F9FAF8;
    display:flex;

}

.hero p{
    font-size:18px;
    color: #E5E7EB;
    width: 20em;
    display:flex;
    justify-content: space-between;
}


.button{
    background:#3882F6;
    color:white;
    border: none;
    border-radius: 8px;
    padding:8px 32px;
    text-align: center;
    justify-self:flex-start;
    

    
}

.hero-image{
    margin-right: 5em;
    margin-left: 4em;
    max-height: auto;
    align-self: center;
    flex-basis:20em;
    
}


.trouble{
    
    height:15em;
    width: 20em;
    border-radius: 4px;
    /* margin: 0 0em 0 0em; */
    
}





.info{
   color:#1F2937;
   width:100vw;
   display:flex;
   justify-content: center;
   padding-bottom: 5rem;
}

.info-title{
    font-size: 36px;
    font-weight: 1000;
    color:#1F2937;
    text-align: center;
    margin-bottom: 2em;
}

.info-image-bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    gap:10%;
    /* margin-left: 5em; */

}

.info-pic{
    max-height: 10em;
    max-width: fit-content;
    border-radius: 8px;
}

.info-text{
    max-width: fit-content;
}


.info-one, .info-two, .info-three, .info-four{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}

.quote{
    background-color: #E5E7EB;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4em 0 4em 0;
}

.quote-content{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    

}
.quote-text{
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    max-width: 20em;
    margin-bottom: 0;
    opacity: .8;
    padding: 0 1em 0 1em;
    
    
}

.quote .quote-author{
    font-weight: bold;
    align-self: flex-end;
    max-width: fit-content;
    padding-right: 3em;
    
}

.call-box{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #F9FAF8;
    width: 100%;
    
}
.call-box-content{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 5em 5em 5em 5em;
    padding: 2em 1em 2em 1em;
    gap:5em;
    width: 50em;
    height: 5em;

}

.call-box-text-top{
    font-weight:1000;
    margin-bottom:0;
    padding-left:1em;
    width:20em;
    

}

.call-box-text-bottom{
    margin-top:1em;
    padding-left: 1em;
    width: 20em;
}

.call-box-button{
    align-self: center;
    margin-top: 1em;
    
    
    

}
.button2{
    background:#3882F6;
    color:#F9FAF8;
    outline: solid;
    outline-width: 1px;
    outline-color: #F9FAF8;
    border:none;
    border-radius: 8px;
    padding:2px 32px;
    text-align: center;
    white-space: none;
    
    

    

}

.footer{
    background-color: #1F2937;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height:5em;
}

