body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x:hidden;
    min-height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

/* body *{outline-style: solid; outline-color: red;} */

.header-hero{
    background-color: hsl(215, 28%, 17%);
    padding: 2em 12% 2em 12%;
}
.header{
    
    display: flex;
    justify-content: space-between;
}


.header-right-links .links{
    display: flex;
    justify-content: flex-end;
    width:fit-content;
}


.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 800;
    
}
a{
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 1em 0 1em;

}
a:link{ text-decoration: none;}
a:visited{ text-decoration: none;}
a:hover{ text-decoration: none;}
a:active{ text-decoration: none;}



.hero{
    display:flex;
    margin-top:5em;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10em;
}

.hero-content{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 0em;
}

.hero h1{
    font-size: 48px;
    font-weight: 1000;
    color:#F9FAF8;
    display:flex;

}

.hero p{
    font-size:18px;
    color: #E5E7EB;
    width: 500px;
}


.button{
    background:#3882F6;
    color:white;
    border: none;
    border-radius: 8px;
    padding:8px 32px;
    text-align: center;
    justify-self:flex-start;
    
    
}

.hero-image img{
    
    max-height:20em;
    min-width: fit-content;
    max-width: fit-content;
    border-radius: 4px;
    margin: 0 10em 0 2em;
}

.info{
   color:#1F2937;
   /* width:100vw; */
   display:flex;
   justify-content: center;
   padding-bottom: 5rem;
}

.info-title{
    font-size: 36px;
    font-weight: 1000;
    color:#1F2937;
    text-align: center;
}

.info-image-bar{
    display:flex;
    min-width: fit-content;
    gap:5em;

}

.info-pic{
    max-height: 10em;
    max-width: fit-content;
    border-radius: 8px;
}

.info-text{
    max-width: fit-content;
}


.info-one, .info-two, .info-three, .info-four{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}

.quote{
    background-color: #E5E7EB;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4em 0 4em 0;
}

.quote-content{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    

}
.quote-text{
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    max-width: 20em;
    margin-bottom: 0;
    opacity: .8;
    
    
}

.quote .quote-author{
    font-weight: bold;
    align-self: flex-end;
    max-width: fit-content;
    padding-right: 3em;
    
}

.call-box{
    display:flex;
    align-items: center;
    justify-content: center;
}
.call-box-content{
    background-color: #3882F6;
    color: #F9FAF8;
    
}

.footer{
    background-color: #1F2937;
    color: white;
}

